.logo {
	width:100%;
	margin-left:10px;
}
.site-header {
	margin-top:20px;
}
.fl {
	float: right;
}
.fr {
	float:right;
}
.top-social img {
	margin:0px 10px;
	width:25px;

}
.block--discovery-off-canvas-off-canvas-toggle .block__content {
	margin-right:0px;
	margin-top:5px;
	margin-left: 20px;
}

.nav.bottom{
	text-align: center;
	float: right;
	font-size: 16px;
	font-family: Oswald;
	text-transform: uppercase;
	font-weight: bold;
}
.nav.bottom a {
	color: #000;
}
.nav>li>a { 
	padding:20px 0.8em;
}
.site-header {
	height:200px;
}
.front .node--hero .field--name-title h1 {
	font-size: 50px;
}
.front .node--hero .scroll {
	background: #00a1e0;
}
.vertical-line {
	background: #00a1e0;
}
.btn-red {
	background: #00a1e0;
}
body.off-canvas-active .l-off-canvas {
	z-index:2000;
}
#block-discovery-off-canvas-off-canvas-toggle {
	display:none;
}

@media (max-width: 1073px) {
	#block-discovery-off-canvas-off-canvas-toggle {
		display:block;
	}
	.nav {
		display:none;
	}
}


@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Oswald;
	src: url(../fonts/Oswald-Regular.ttf);
}
/*Footer Custom Classes*/
.block__content.text-center > p {
	color: #fff;
	font-family: Oswald;
	font-size: 31px;
}
.footer-nav > ul {
	margin-top: 16px;
}
.footer-nav > ul li {
	display: inline;
	margin-right: 12px;
}
.footer-nav a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
	margin-right: 21px;
}
.footer-nav {
	border-top: 1px solid #ccc;
	margin: 36px 51px 0;
}
iframe {
	height: 500px;
	margin-top: 58px;
	overflow: hidden;
	width: 100%;
}
.nav .leaf a {
	font-weight: 100;
}
.l-footer-wrapper {
	padding: 40px 0px 0px;
	background: #1D1D1B;
	color: #5a6e79;
	position: relative;
	overflow: auto;
}
.copywrite {
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
/*About page*/
.about-font {
	font-size: 15px;
	font-family: Montserrat;
}
#about-cover .wed {
	font-size: 25px;
}
#cover-text h5 {
	font-weight: 700;
	color: #ccc;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
}
#cover-text h1 {
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	font-size: 39px;
	font-family: oswald;
	word-spacing: 3px;
}
#cover-text p {
	font-size: 16px;
	font-weight: 800;
	padding: 2px 287px;
	text-align: center;
	font-family: montserrat;
}
#cover-text {
	margin-top: 161px;
	margin-bottom:86px;
}
.wed-heading {
	font-family: oswald;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: -10px;
	margin-top: 50px;
	word-spacing: 6px;
}
.wed-head2 {
	margin-bottom: -45px;
}
.about-even h2 {
	font-family: oswald;
/*	font-size: 42px !important;
*/	font-weight: 600;
	text-transform: uppercase;

}
.about-even p {
	font-size: 15px;
	font-weight: 600;
}
.front .node--hero .field--name-title2 h1 {
	font-size:30px;
	line-height: 45px;
	width: 60%;
    margin: 0 auto;
}
#cover-text2 p {
	font-size: 16px;
	font-weight: 800;
	padding: 2px 15%;
	font-family: montserrat;
}
#cover-text2 p b {
	font-size: 20px;
}
#cover-text2 {
	margin-top: 161px;
	margin-bottom:86px;
}
#cover-text2 h5 {
	font-weight: 700;
	color: #ccc;
	text-align: center;
	text-transform: uppercase;
	font-size: 17px;
}